/*Медиазапросы всегда прописываются в конце документа*/
/*@media тип устройства выражение (например ширина) {
	прописываюся стили для данной ширины
/*}*/
@media screen and (max-width: 600px) {
	.slider {
		display: none;
	}
	#menu {

	}
}

Логические операторы:
	and|
 	, - либо то либо другое|
 	not - не - всегда ставится в начале медиазапроса и исключает последующую запись
	, если потом запятая - то влияет только до нее;


Типы устройств:
all
print - просмотр вывода на печать
screen - экраны, цветные мониторы
spech - речевые синтезаторы

Характеристики устройств:
Width - ширина px, em, 1em
min-width
max-width

height
min-height
max-height

Ориентация 
orientation: portrait
orientation: landscape

Размеры экранов по ширине:
1600
 	<- диапазон
1200
	<- диапазон
960
	<- диапазон
760
	<- диапазон
480
	<- диапазон
320

Размеры блоков :
px
em - вычисляется от размера шрифта родителя
% - какой то процент от родительского элемента

font-size: 16pt; - в пунктах
1em=16pt;
1.56em;

font-size: 12pt;
1em=12pt=16px;

<div font-size=13pt>
	<div width=2em>
</div>

em нужен для адаптивности - 
привязка к шрифту, при уменьшении шрифта
 автоматически поисхдит изменение margin и padding + можно указывать в %