body {
	background: lightgreen;
}
/*отступы - padding/ margin
/*padding-top: 10px;
padding-right:10px;
padding-left: 10px;
padding-bottom: 10px;

padding: 10px сверху снизу 20px слева справа
padding: 10px top 10px right/left 10px bottom
padding:top right bottom left;*/

.block1,
.block2 {
	padding: 50px;
	border: /*размер тип цвет*/ 5px solid red;
	height: 150px;
	width: 300px;
	margin: 40px;
}
.block2 {
	box-sizing: border-box; /*Размер элемента вывернуи наизнанку*/
}

.visible {
visibility: display:none;
}
.invisible {
	display: none; /*полное скрытие эллементов*/*/
	
/*	visibility: collapse; *//*Если блочный то как hidden, если стройный то как display: none;*/
}


/*элемент становится блочным, строчные будут обтекать*/
.float {
	height: 100px;
	width: 100px;
	border: 1px solid black;
	margin: 10px;
	float: left;
}

/*Элементу после плавающих Float добавляют свойство clear*/
.clear {
	clear: both;
}

/*Переполнение текста*/
.overflow-Hidden, /*Скрытие излишек текста*/
.overflow-visible, /*по умолчанию*/
.overflow-scroll  /*Ползунок*/
{
	width: 100px;
	height: 100px;
	border: 1px solid black;
	margin: 60px;
}
.overflow-scroll {
	overflow: scroll;
}
.overflow-Hidden {
	overflow: hidden;
}
/*Позиционирование элементов*/
.static,
.fixed,
.relative,
.absolute {
	width: 250px;
	height: 60px;
	border: 2px dashed black;
	margin: 10px;
}
/*остается всегда на месте относительно окна браузера*/
.fixed {
	position: fixed;
	top: 20px;
	left: 500px;
}
/*позиционирование относительно места в нормальном потоке*/
.relative {
	position: relative;
	top: 20px;
	left: 100px;
}
/*Позициониерование относительно окна браузера если нет родителя
Но если есть Родитель не статик, то будет позиционироваться относительно него*/
.absolute {
	position: absolute;
	top: 30px;
	left: 40px;
}